# Ignore database files
*.db
*.sqlite3
*.sqlite
/data/
/migrations/
__pycache__/
instance/
*.log

# Ignore environment and config
.env
venv/
env/
node_modules/
__pycache__/
.DS_Store

# Ignore compiled files
*.pyc
*.pyo
*.pyd